.similar-mv .all-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 85vh;
}
.similar-mv .all-card .item {
  width: 47%;
  margin-left: 5px;
}
.similar-mv .all-card .item img {
  height: 100px ;
}
